# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Logs and databases
*.log
*.sqlite
*.db

# Local settings
.env
.env.local
*.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store
works/
_keyframes/
*_trimmed.mp4

.wrangler/