requests
python-dotenv
psycopg2-binary
SQLAlchemy
yt_dlp
pytest
pydub==0.25.1
azure_cognitiveservices_speech==1.44.0
moviepy==2.2.1
pydantic==2.11.5
fasttext==0.9.3
numpy==1.26.4
loguru==0.7.3
openai==1.82.0
tenacity==9.1.2
pytesseract==0.3.13
pillow==11.2.1
ffmpeg_python==0.2.0
