requests
python-dotenv
psycopg2-binary
SQLAlchemy
yt_dlp
pytest
pydub==0.25.1
azure_cognitiveservices_speech==1.44.0
moviepy==2.2.1
sentence_transformers==4.1.0
ftfy==6.3.1
pydantic==2.11.5
fasttext==0.9.3
numpy==1.26.4