# Building time variables
WORKER_NAME=my-videos
D1_DATABASE_NAME=my-videos-db
D1_DATABASE_ID=
SLUG_OFFSET_VALUE=37951


# Run time variables
SLUG_OFFSET_VALUE=0
SITE_NAME=
GA_ID=
VIDEO_FETCH_API_URL=
VIDEO_FETCH_API_KEY=
